html, body {
    overflow-x: hidden;
}

.banner{
    background-image: url("/assets/images/banner-initial.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw; /* 100% da viewport */
    min-height: 90vh;
}

.btn-red {
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius: 0.25rem;
    padding: 1.25rem 2.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
  
.btn-red:hover {
    background-color: #d40e22;
    border-color: #d40e22;
    color: white;
}
  
.btn-red:active {
    background-color: transparent;
    color: #0d6efd;
    border-color: #0d6efd;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.gray-hr {
    border: 0;
    border-bottom: 1px solid #dee2e6;
    margin: 1rem 0;
}

.accordion-button::after {
    display: none;
}

.accordion-button {
    font-size: 1.5rem;
}

.accordion-icon {
    transition: transform 0.6s ease-in-out;
    margin-left: auto;
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.accordion-button.collapsed .accordion-icon {
    transform: rotate(0deg);
}

.accordion-button:not(.collapsed) .accordion-icon {
    transform: rotate(-720deg);
}