html, body {
    overflow-x: hidden;
}

.banner{
    background-image: url("/assets/images/banner-initial.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 650px;
}

.header-components{
    padding-top: 95px;
    margin-bottom: 20px;
}

.btn-red {
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius: 0.25rem;
    padding: 1.25rem 2.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
  
.btn-red:hover {
    background-color: #d40e22;
    border-color: #d40e22;
    color: white;
}
  
.btn-red:active {
    background-color: transparent;
    color: #0d6efd;
    border-color: #0d6efd;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.gray-hr {
    border: 0;
    border-bottom: 3px solid #929496;
    margin: 1rem 0;
}

.div-section{
    max-width: 500px;
}

.accordion-button::after {
    display: none;
}

.accordion-icon {
    width: 24px;
    height: auto;
    transition: transform 0.6s ease-in-out;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.accordion-button.collapsed .accordion-icon {
    transform: rotate(0deg);
}

.accordion-button:not(.collapsed) .accordion-icon {
    transform: rotate(-360deg);
}

.accordion-button {
    font-size: 1.50rem;
    padding: 1.5rem 1.5rem;
}

.accordion-item {
    max-width: 800px;
    margin: auto;
}

.navbar-nav .nav-link {
    color: #929ba3;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #b4bdc4;
}

.navbar-toggler {
    border-color: #3c3c3c;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23929ba3' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.header-bg{
    background-image: url('/assets/images/growcast-01.png');
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    height: 750px;
    position: relative;
}

.content{
    position: absolute;
    left: 18%;
    top: 63%;
}

.icon-white{
    filter: brightness(0) invert(1);
}

.growcast, .webinar, 
.jornada, .diversos {
    padding-left: 8%;
    padding-right: 8%;
}

.growcast > a:first-of-type,
.webinar > a:first-of-type,
.jornada > a:first-of-type,
.diversos > a:first-of-type {
    font-size: 20px;
}

.orange-hover:hover{
    color: #e8742c !important;
    filter: 
        invert(48%)
        sepia(90%)
        saturate(1500%)
        hue-rotate(350deg)
        brightness(95%)
        contrast(90%);
}

.videos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.video-card {
    position: relative;
    overflow: visible; 
    transition: transform 0.3s ease;
}

.video-card:hover {
    transform: scale(1.15);
    z-index: 10;
}

.video-caption {
    display: none;
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    background: black;
    padding: 10px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    flex: 1;
    overflow-wrap: break-word;
    overflow: hidden;
    margin: 0;
    text-align: left;
}

.video-card:hover .video-caption {
    display: flex;
}

.btn-img {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}

#modalVideo .modal-dialog {
    max-width: none;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center
}

#modalVideo iframe {
    width: 100%;
    height: 75%;
}

#modalVideo.modal {
    overflow-y: hidden;
    padding-right: 0 !important;
    margin: 0;
}

body.modal-open {
    overflow-y: hidden;
    padding-right: 0 !important;
}

#modalVideo .modal-body {
    padding: 0;
    width: 100%;
    height: 100%;
}